<%- include("header") -%>
    <div class="total" style="margin-left:30%; align-items: center;">
        <div>

            <h1 style="color:blue;margin-right: 50%; text-align: center;">
                <%= listtitle %>
            </h1>


        </div>



        
            <div>



                <% addlistitems.forEach(function(items){ %>
                    <form class="form" action="/delete" method="post" style="align-items: center; margin-left: auto; padding-left: 10px;">

                    <div style="display: flex; align-items:center">
                        <input type="checkbox" name="selectitems" value="<%=items._id%>" onChange="this.form.submit()">
                        <h2>
                            <%= items.name %>
                        </h2>
                    </div>
                    <input type="hidden" name="listName" value="<%=listtitle%>"></input>
                </form>
                    <%})%>


            </div>
        


        <div>
            <form class="form" action="/" method="post">
                <input type="text" name="newitem" placeholder="Add your favourite" required>
                <button class="btn btn-primary" type="submit" name="list" value=<%=listtitle %>>Add</button>
               
            </form>
        </div>
    </div>
    <%- include("footer")-%>